* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.addForm {
  margin-bottom: 15px;
}

.input {
  height: 20px;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
}

.addBtn {
  width: 50px;
  margin-left: 10px;
  border-radius: 20px;
  border: 4px solid transparent;
}

.list {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.delete,
.edit {
  float: right;
}
